<!-- <div class="container-fluid">
    <div class="row">
        <div class="col">
            <app-shopping-lists-overview></app-shopping-lists-overview>
        </div>
        <div class="col">
            <app-recipes-overview></app-recipes-overview>
        </div>
        <div class="col">
            <app-recipe-creator (onAddRecipe)="addRecipe($event)"></app-recipe-creator>
        </div>
    </div>
</div> -->
<div><a routerLink="/shoppinglist">My Shopping Lists</a></div>
<div><a routerLink="/recipes">My Recipes</a></div>
<div><a routerLink="/recipes">Browse Recipes</a></div>